{% extends 'base.html' %}

{% block title %} All pairs {% endblock %}

{% block content%}
    <div class="col-12 mx-auto mt-5">
        <h1 class="mb-5"> All pairs </h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">key</th>
                    <th scope="col">filename</th>
                    <th scope="col">upload time</th>
                    <th scope="col">img</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <th scope="row">{{item['imageKey']['S']}}</th>
                    <td>{{item['filename']['S']}}</td>
                    <td>{{item['time']['S']}}</td>
                    <td><img class="img" style="width:200px;" src="{{ url_list[loop.index0] }}" alt=""></td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>

{% endblock %}