{% extends 'base.html' %}

{% block title %} AWS Status {% endblock %}

{% block content%}
    <div class="col-12 mx-auto mt-5">
        <h1 class="mb-5"> AWS status </h1>
        <div class="col-12 mx-auto mt-5">
            <h2 class="mb-3"> API Gateway status </h2>  
            <p>Label detction: ooax7ms080, facial_analysis: ovss37g82h, celebrity detection: qxxjxcleb1</p>
            {% if api_gateway_images %}
            {% for key, image in api_gateway_images.items() %}
            <img src = 'data:image/png;base64,{{image}}' />
            {% endfor %}
            {% else %}
            <div class="alert alert-warning" role="alert">
                Empty
            </div>
            {% endif %}

            <h2 class="mb-2 mt-5"> Lambda status </h2> 
            {% if lambda_images %}
            {% for key, image in lambda_images.items() %}
            <img src = 'data:image/png;base64,{{image}}' />
            {% endfor %}
            {% else %}
            <div class="alert alert-warning" role="alert">
                Empty
            </div>
            {% endif %}
        </div>

{% endblock %}